@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h1>Puhkuse nimikiri</h1>
<br />
<ul>
    <li>
        oma synnipäev
    </li>
    <li>
        1. jaanuar – uusaasta
    </li>
    <li>
        24. veebruar - taasiseseisvumispäev, Eesti Vabariigi aastapäev
    </li>
    <li>
        15. aprill – suur reede
    </li>
    <li>
        17. aprill – lihavõttepühade 1. päev
    </li>
    <li>
        1. mai – Kevadpäev
    </li>
    <li>
        5. juuni – 1. kolmainupäev
    </li>
    <li>
        23. juuni – võidupüha
    </li>
    <li>
        24. juuni – jaanipäev
    </li>
</ul>
